.box-bottomfeed {
  opacity: 0.4;
  filter: alpha(opacity=50);
  background-color: var(--white);
  background-attachment: fixed;
  display: flex;
  height: 35rem !important;
}

.bottomfeed {
  background-image: linear-gradient(
      70deg,
      rgba(20, 20, 20, 0.733),
      rgba(76, 152, 187, 0.637)
    ),
    url("../../img/bottombanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: var(--mainOpacity);
  height: 60em !important;
  display: flex;
}

.text-center {
  color: var(--white);
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}

@media screen and (min-width: 460px) and (max-width: 1024px) {
  .text-center {
    color: var(--white);
    padding-top: 10px;
  }

  .box-bottomfeed {
    opacity: 0.7;
    filter: alpha(opacity=50);
    background-color: var(--white);
    background-attachment: fixed;
    display: flex;
    height: 35rem !important;
  }
}
