.about-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

h1.title-about {
  color: var(--black);
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-shadow: 3px 3px 3px rgba(19, 19, 19, 0.356);
}
