.midtier {
  background-image: linear-gradient(
      70deg,
      rgba(67, 67, 185, 0.747),
      rgba(27, 26, 26, 0.589)
    ),
    url("../../img/midbanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto !important;
  
}

.text-center {
  color: var(--white);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
  display: flex;
  top: 50%;
}


@media screen and (min-width: 480px) and (max-width: 1024px) {

  .midtier {
    display: flex;
    height: auto !important;
  
  }

  .text-center {
    display: flex;

  }  

}
