:root {
  --yellow: #f5c32c;
  --lime: #e0f5b9fa;
  --blueGrey: rgb(60, 88, 145);
  --red: #ff3300;
  --black: #242d49;
  --gray: #788097;
  --white: #ffffff;
  --blueCard: #ddf8fe;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --redCard: rgba(255, 66, 66, 0.534);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  overflow: hidden;
  color: var(--black);
}

body {
  padding: 0;
  margin: 0;
}

.row {
  height: auto;
}

@media screen and (min-width: 100px) {
  body {
    padding: 0;
    margin: 0;
  }
}
